#buffer-row{
    height: 25px;
}
#page-title-index{
    color:#0aaf8e;
    font-weight:bold 
}
.navbar{
    height: 110px;
}
.subheading-index{
    color:#0aaf8e;
    font-weight:bold 
}
iframe{
    padding: 5px;
}
.player-name{
    color:#0aaf8e;
    font-weight:bold 
}
.player-image{
    height:300px
}