select{
    width: 175px;
    text-overflow: ellipsis;
}
#buffer-row{
    height: 25px;
}
#page-title-player-dashboard{
    color:#0aaf8e;
    font-weight:bold 
}
.navbar{
    height: 110px;
}
.subheading-player-dashboard{
    color:#0aaf8e;
    font-weight:bold 
}
iframe{
    padding: 5px;
}

